<!doctype html> 
<html>  
  <head>  
    <title><%=shopName%></title> 
     <link rel="stylesheet" href="/style.css">
  </head>  
  <body>  
    <h1>Register for Thirsty Student </h1> 
    <form method="POST" action="/registered"> 
        First Name:<input id="first" type="text" name="first"/> 
        Last Name:<input id="last" type="text" name="last" /> 
        Email:<input id="email" type="text" name="email" />
        <input type="submit" value="Register" /> 
    </form> 
</body>  
</html> 
